{{template "article-base" .}}
{{define "main"}}
<h1 id="hi-my-name-is-philipp">hi my name is philipp</h1>

<p>thi is my first blog entry</p>
{{end}}{{define "sidebar"}}

<a class="navbar-link" href="/">second_page</a>

<a class="navbar-link" href="/">test</a>

{{end}}